# Ignore node_modules (both frontend and backend)
/node_modules

# Ignore environment variables
.env
.env.local
.env.production
.env.development

# Ignore build outputs
.next/
out/
dist/
build/

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files
.DS_Store
Thumbs.db

# Ignore database files (jeśli np. jakieś dumpy)
*.sqlite
*.sqlite3
*.db

# Ignore VSCode settings (opcjonalnie)
.vscode/

./ypjg xecg mpvp gzag
